<<<<<<< HEAD
<nav>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/register">Register</a></li>
        <li><a href="/login">Login</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/views/partials/head.ejs"></a></li>
    </ul>
</nav>
=======
<nav class="navbarContainer">
    <ul class="navbarItems">
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/following/explore">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/following/myprofile/641b24c963cebb03360e3e93">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/filter">Filtering</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matching">Matching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/liking">Liking</a>
      </li>
    </ul>
  </nav>
>>>>>>> main
