<nav class="navbarContainer">
    <ul class="navbarItems">
      <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/register/login">Login</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/following/explore">Explore</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/following/myprofile/641b24c963cebb03360e3e93">My Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/filter">Filtering</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/matching">Matching</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/liking">Liking</a>
      </li>
    </ul>
  </nav>
