<%- include("../partials/head") %>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main class="maintristan">
        <section class="account">
            <h1>Profile</h1>
            
            <form action="/register/logout" method="post" class="accountform">
                <button type="submit">Logout</button>
            </form>
            <form action="/register/remove" method="post" class="removeform">
                <button type="submit">Remove account</button></a>
            </form>
            
        </section>
    </main>
    <script src='/scripts/navbarScript.js'></script>
</body>
</html>