<%- include("../partials/head") %>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <h1>Hello</h1>
        <p><%= user.firstName %></p>
    </main>
</body>
</html>