<%- include("../partials/head") %>

<body>
    <header>
        <%- include("../partials/header") %>
    </header>
    <main>
        <h1>Hello <%= user %></h1>
        
        <form action="/register/logout" method="post">
            <button type="submit">Logout</button>
        </form>
        <a href="/remove"><button>Remove account</button></a>
    </main>
</body>
</html>