<body>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Filtering feat</title>
    <link href="#" type="text/css" rel="stylesheet"/>
  </head>

  <section>
    <form> 
        <!-- method="POST" action="/filterresults" -->
      <fieldset>

        <legend>What mood are you in today?</legend>
        <input type="checkbox" name="moods" value="optimistic" id="optimistic"/>
        <label for="optimisticy">Optimistic</label>

        <input type="checkbox" name="moods" value="energetic" id="energetic"/>
        <label for="energetic">Energetic</label>

        <input type="checkbox" name="moods" value="loving" id="loving"/>
        <label for="loving">Loving</label>


      </fieldset>

      <input class="submit" type="submit" value="Search"/>
    </form>
  </section>
</body>
