<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include('../partials/head'); %>

    <title>Choose your filters</title>
  </head>

  <body>
    <header><%- include('../partials/header'); %></header>

    <main class="elaine">
      <section>
        <form method="POST" action="filter/filterresults">
          <h2>Find your buddies below!</h2>

          <div class="filters">
            <p>What mood are you in today?</p>
            <fieldset>
              <input type="checkbox" name="mood" value="optimistic" id="optimistic"/>
              <label for="optimistic">Optimistic</label>

              <input type="checkbox" name="mood" value="energetic" id="energetic"/>
              <label for="energetic">Energetic</label>

              <input type="checkbox" name="mood" value="loving" id="loving" />
              <label for="loving">Loving</label>

              <input type="checkbox" name="mood" value="inspired" id="inspired"/>
              <label for="inspired">Inspired</label>

              <input type="checkbox" name="mood" value="motivated" id="motivated"/>
              <label for="motivated">Motivated</label>

              <input type="checkbox" name="mood" value="calm" id="calm"/>
              <label for="calm">Calm</label>

              <input type="checkbox" name="mood" value="neutral" id="neutral"/>
              <label for="neutral">Neutral</label>

              <input type="checkbox" name="mood" value="sad" id="sad"/>
              <label for="sad">Sad</label>

              <input type="checkbox" name="mood" value="tired" id="tired"/>
              <label for="tired">Tired</label>

              <input type="checkbox" name="mood" value="frustrated" id="frustrated"/>
              <label for="frustrated">Frustrated</label>

              <input type="checkbox" name="mood" value="annoyed" id="annoyed"/>
              <label for="annoyed">Annoyed</label>

              <input type="checkbox" name="mood" value="angry" id="angry"/>
              <label for="angry">Angry</label>

              <input type="checkbox" name="mood" value="happy" id="happy"/>
              <label for="happy">Happy</label>
            </fieldset>

            <p>What's your favorite artist?</p>
            <fieldset>
              <input type="checkbox" name="favouriteArtists" value="Kendrick Lamar" id="Kendrick Lamar"/>
              <label for="Kendrick Lamar">Kendrick Lamar</label>

              <input type="checkbox" name="favouriteArtists" value="Childish Gambino" id="Childish Gambino"/>
              <label for="Childish Gambino">Childish Gambino</label>

              <input type="checkbox" name="favouriteArtists" value="Justin Bieber" id="Justin Bieber"/>
              <label for="Justin Bieber">Justin Bieber</label>

              <input type="checkbox" name="favouriteArtists" value="Sean Kingston" id="Sean Kingston"/>
              <label for="Sean Kingston">Sean Kingston</label>
            </fieldset>
          </div>

          <input class="submit" type="submit" value="Search"/>

        </form>
      </section>
    </main>

    <footer><%- include('../partials/footer'); %></footer>
  </body>
</html>
